.App-header {
  text-align: center;
  padding: 2rem;
}

@media (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
  }

  .info-section {
    padding: 1rem;
  }

  .App-header {
    padding: 1rem;
  }
}
